.appContainer{
  height:98vh;
  /*background-color:yellow;*/
  overflow:hidden;
  padding:1vh;
}
.container {
  width: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  justify-content: space-around;
  align-items: space-around;
}
.spaceBetween {
  justify-content: space-between;
  align-items: space-between;
}
.flexStart {
  justify-content: flex-start;
  align-items: flex-start;
}
.padded {
  padding: 20px;
}

.location {
  min-width: 300px;
  min-height: 250px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #9e9e9e;
  border-left: 2px dotted red;
}
.locContainer{
  overflow: scroll;
}

.dropdownBox {
  margin: 5px;
  border-radius: 5px;
  background-color: #ddd;
}

.scrapPile {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: gray;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.titlePlayer {
  font-size: 24px;
}
.refreshMarketBtn {
  width: 65px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  background-color: #777;
  opacity: 1;
}
.refreshMarketBtn:hover {
  opacity: 0.6;
  transition: opacity 0.25s;
}
.playcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 75px;
  height: 100px;
  margin: 10px;
  transition: width 0.15s, height 0.15s;
}
.small {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 5px;
  padding: 0px;
}
.playcard:hover {
  opacity: 0.7;
  width: 150px;
  height: 200px;
  transition: width 0.25s, height 0.25s;
}
.playcard:hover .title {
  font-size: 32px;
}

.title {
  margin: 5px;
  font-size: 14px;
  transition: font-size 0.25s;
}
.text {
  margin: 5px;
  font-size: 12px;
  transition: font-size 0.25s;
}
.playcard:hover .text {
  font-size: 24px;
}
.stat {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  transition: opacity 0.25s;
}
.playcard:hover .stat {
  visibility: visible;
  width: auto;
  opacity: 1;
}
.gamelog {
  height: 250px;
  overflow: scroll;
}
.titlebar {
  font-size: 24px;
  border-radius: 5px;
  width: 300px;
  height: 25px;
  -webkit-transition: height 0.5s, width 0.5s;
  transition: height 0.5s, width 0.5s;
  -moz-transition: height 0.5s, width 0.5s;
}
.titlebarInfo {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 0px;
}
.smallText {
  font-size: 12px;
}
.titlebarOpen {
  height: 300px;
  width: 600px;
  -webkit-transition: height 0.5s, width 0.5s;
  transition: height 0.5s, width 0.5s;
  -moz-transition: height 0.5s, width 0.5s;
}
.titlebarBig .titlebarInfo {
  opacity: 1;
  height: auto;
  position: inherit;
  visibility: visible;
  transition: opacity 0.25s height 0.25s;
}
