.appContainer{
  height:98vh;
  /*background-color:yellow;*/
  overflow:hidden;
  padding:1vh;
  background-image: url('./imgs/sample/blunes.jpg');
}

.container {
  width: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  justify-content: space-around;
  align-items: space-around;
}
.spaceBetween {
  justify-content: space-between;
  align-items: space-between;
}
.flexStart {
  justify-content: flex-start;
  align-items: flex-start;
}
.scroll{
  overflow:scroll;
  width:100%;
}
.padded {
  padding: 20px;
}
.handContainer{
  height:120px;
  width:500px;
}
.guiContainer{
  overflow:scroll;
  width:auto;
  
  height:50%;
}
.location {
  min-width: 400px;
  min-height: 250px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.locContainer{
  overflow: scroll;
  height:auto;
}

.dropdownBox {
  margin: 5px;
  border-radius: 5px;
  background-color: #ddd;
}

.scrapPile {
  width: 200px;
  height: 100px;
  margin-top:10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: gray;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.titleCard{
  /*border-bottom: 1px solid black;*/
  width:80%;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 2px #333;
}
.small .titleCard{
  height:0px;
}
.small:hover .titleCard{
  height:auto;
}
.titlePlayer {
  font-size: 24px;
}
.bfWrapper{
  color:white;
  margin:3px;
  border-radius: 5px;
  width:auto;
  height:auto;
  min-height:100px;
  background-color: #5558;
}
.bfContainer{
  color:white;
  border-radius:5px;
  height:60px;
  width:60px;
  margin:3px;
  padding:3px;
  background-color: #4448;
}
.marketContainer{
  color:white;
  margin-top: 20px;
  border-radius: 5px;
  width: 260px;
  height:80px;
  background-color: #4448;
}
.refreshMarketBtn {
  width: 65px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  background-color: #777;
  opacity: 1;
}
.refreshMarketBtn:hover {
  opacity: 0.6;
  transition: opacity 0.25s;
}
.playcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 60px;
  height: 100px;
  margin: 1px;
  padding: 1px;
  display: flex;
  overflow:hidden;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: width 0.15s, height 0.15s;
  
}
.small {
  width: 45px;
  height: 60px;
  overflow: hidden;
  
}
.playcard:hover {
  /*opacity: 0.9;*/
  width: 200px;
  height: 280px;

  transition: width 0.25s, height 0.25s;

}
.starterImg{
  height:150px;
  border-radius: 5px;
  width:auto;
}
.userFormContainer{
  margin: 10px;
  width: 150px;
  height: 250px;
  border-radius: 5px;
}
.cardImg{

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  opacity:1;
  border-radius: 3px;
  height:96px;
  width:56px;
  transition: width 0.25s, height 0.25s;
}
.small .cardImg{
  height:56px;
  width: 41px;
  transition: width 0.25s, height 0.25s;
  /*margin-left:7px;*/

}
.playcard:hover .cardImg {
  
  /*opacity:.95;*/
  /*position:fixed;*/
  opacity:1;
  width:196px;
  height:276px;
  transition: width 0.25s, height 0.25s;

}
.playcard:hover .title {
  font-size: 22px;
  height:24px;
  overflow:visible;
  /*white-space: normal;*/
}
.text {
  margin: 1px;
  font-size: 12px;
  transition: font-size 0.25s;
  color:white;
  text-shadow: 2px 2px 4px #333;
  background-color: #5554;

  text-align: center;
}
.playcard:hover .text {
  /*z-index: 2;*/
  font-size: 18px;
  border-radius: 5px;

}
.stat {
  visibility: hidden;
  opacity: 0;
  width: 1px;
  height:1px;
  overflow:hidden;
  transition: opacity 0.25s;
}
.playcard:hover .stat {
  visibility: visible;
  /*width: auto;*/
  height:auto;
  opacity: 1;

  width:100%;
  margin-right:15px;
  text-align: right;
}
.gamelog {
  height: 200px;
  border:1px solid black;
  overflow: scroll;
}
.titlebar {
  font-size: 24px;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  text-shadow: 2px 2px 4px #222;
  color:white;
  /*-webkit-transition: height 0.5s, width 0.5s;*/
  transition: height 0.5s, width 0.5s;
  /*-moz-transition: height 0.5s, width 0.5s;*/
}
.locationTitle{
  background-color:#7773;
}
.titlebarInfo {
  color:black;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 1px;
  transition: opacity 1s, height 0.5s;
}
.smallText {
  font-size: 12px;
}
.active{
  
  height:250px;
  /*overflow:hidden;*/
  width:400px;
  background-color:#ddd;
  opacity:.7;
  transition: height 0.5s, width 0.5s;
}
.active .titlebarInfo {
  opacity: 1;
  height: 30px;
  visibility: visible;
  transition: opacity 1s, height 0.5s;

}
.helperActive{

  /*background-color: red;*/
  
  width:100%;
  padding:0px;
  margin:0px;
  height:auto;
  max-height: 350px;
  overflow:scroll;
}
.helper{
  /*position:absolute;*/
  /*width:45px;*/
  padding:0px;
  margin:0px;
  height:auto;
  /*background-color: red;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
  /*margin-bottom: -60px;*/
  
}
.helpBtn{
  position:fixed;
  color:magenta;
  border: 1px solid magenta;
  border-radius: 5px;
  width:auto;
  height:30px;
  text-align: center;
}
.helperText{
  height:0px;
  /*margin: -10px;*/
  visibility: hidden;
}
.helperActive .helperText {
  /*margin:0;*/
  /*padding:0;*/
  /*margin-bottom: 50px;*/
  height:auto;
  visibility: visible;
  color:white;
  background-color: #333;
}
.hintText{
  margin-bottom: 10px;
}