.appContainer{
  height:98vh;
  /*background-color:yellow;*/
  overflow:hidden;
  padding:1vh;
  background-image: url('./imgs/sample/blunes.jpg');
}

.container {
  width: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  justify-content: space-around;
  align-items: space-around;
}
.spaceBetween {
  justify-content: space-between;
  align-items: space-between;
}
.flexStart {
  justify-content: flex-start;
  align-items: flex-start;
}
.scroll{
  overflow:scroll;
  width:100%;
}
.padded {
  padding: 20px;
}
.handContainer{
  height:120px;
  width:500px;
}
.guiContainer{
  overflow:scroll;
  width:auto;
  
  min-height:200px;
  overflow:scroll;
  /*background-color: red;*/
}
.location {
  min-width: 400px;
  /*min-height: 250px;*/
  min-height:280px;
  /*overflow:scroll;*/
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.locContainer{
  overflow: scroll;
  min-height:320px;
  z-index: 5;
}


.dropdownBox {
  margin: 5px;
  padding-left:5px;
  border-radius: 5px;
  background-color: #ddd;
}

.scrapPile {
  width: 200px;
  height: 100px;
  margin-top:5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: gray;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.titleCard{
  /*border-bottom: 1px solid black;*/
  width:80%;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 2px #333;
}
.small .titleCard{
  height:0px;
}
.zoom .titleCard{
  height:auto;
}
.zoom{
}
.titlePlayer {
  font-size: 24px;
}
.logText{
  border-bottom: 1px solid #777;
}
.bfWrapper{
  color:white;
  margin:3px;
  border-radius: 5px;
  width:auto;
  height:auto;
  min-height:100px;
  max-height:250px;
  overflow:scroll;
  background-color: #5558;
}
.bfPlayerInfo{
  color:white;
  border-radius:5px;
  height:60px;
  min-width:50px;
  margin:3px;
  padding:3px;
  background-color: #4448;
}
.bfExtraInfo{
  color:white;
  border-radius:5px;
  height:60px;
  width:50px;
  margin:3px;
  padding:3px;
  background-color: #4448;
}
.marketContainer{
  color:white;
  margin-left:5px;
  padding-left:5px;
  margin-top: 5px;
  border-radius: 5px;
  min-width: 260px;
  min-height:80px;
  background-color: #4448;
}
.zoomMarketBtn{
  width: 65px;
  height: 45px;
  margin:5px;  
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  background-color: #229;
  opacity: 1;
}
.refreshMarketBtn {
  width: 65px;
  height: 45px;
  margin:5px;
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  background-color: #922;
  opacity: 1;
}
.refreshMarketBtn:hover {
  opacity: 0.6;
  transition: opacity 0.25s;
}

.buyCard {
  animation: fade-in-keyframes 1s;
  
  height:0px;
  transition: height 0.5s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

.playcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 60px;
  height: 100px;
  margin: 1px;
  padding: 1px;
  display: flex;
  overflow:hidden;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: width 0.15s, height 0.15s;
  
}
.small {
  width: 45px;
  height: 60px;
  overflow: hidden;
  
}
.infoBtn{
  padding:5px;
  width:15px;
  height:15px;
  border-radius:15px;
  background-color:#bbb;
}
.infoBtnBig{
  
padding:3px;
/*height:50px;*/
  /*width:50px;*/
  /*height:50px;*/
/*
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color:teal;*/
}
.zoom .playcard {
  /*opacity: 0.9;*/
  width: 200px;
  height: 280px;

  transition: width 0.25s, height 0.25s;

}
.starterImg{
  height:150px;
  border-radius: 5px;
  width:auto;
}
.userFormContainer{
  margin: 10px;
  width: 150px;
  height: 250px;
  border-radius: 5px;
}
.cardImg{

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  opacity:1;
  border-radius: 3px;
  height:96px;
  width:56px;
  transition: width 0.25s, height 0.25s;
}
.small .cardImg{
  height:56px;
  width: 41px;
  transition: width 0.25s, height 0.25s;
  /*margin-left:7px;*/

}
.zoom .cardImg {
  
  /*opacity:.95;*/
  /*position:fixed;*/
  opacity:1;
  width:196px;
  height:276px;
  transition: width 0.25s, height 0.25s;

}
.zoom .title {
  font-size: 22px;
  height:24px;
  overflow:visible;
  /*white-space: normal;*/
}
.text {
  margin: 1px;
  font-size: 12px;
  transition: font-size 0.25s;
  color:white;
  text-shadow: 2px 2px 4px #333;
  background-color: #5554;

  text-align: center;
}
.zoom .text {
  /*z-index: 2;*/
  font-size: 18px;
  border-radius: 5px;

}
.stat {
  visibility: hidden;
  opacity: 0;
  width: 1px;
  height:1px;
  overflow:hidden;
  transition: opacity 0.25s;
}
.zoom .stat {
  visibility: visible;
  /*width: auto;*/
  height:auto;
  opacity: 1;

  width:100%;
  margin-right:15px;
  text-align: right;
}
.gamelog {
  height: 200px;
  border:1px solid black;
  overflow: scroll;
}
.titlebar {
  margin:5px;
  font-size: 24px;
  border-radius: 5px;
  width: 0px;
  min-height: 15px;
  text-shadow: 2px 2px 4px #222;
  color:white;
  /*-webkit-transition: height 0.5s, width 0.5s;*/
  transition: height 0.5s, width 0.5s;
  /*-moz-transition: height 0.5s, width 0.5s;*/
}
.locationTitle{
  font-size:24px;
  color:white;
  text-shadow: 2px 2px 4px #333;
  background-color:#aaa3;
  border-radius: 5px;
  padding:5px;
  height:45px;
  white-space: nowrap;
  min-width:200px;
}
.titleBtnBar {
  height:35px;
  padding:5px;
}
.titlebarInfo {
  color:black;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 1px;
  /*width:50px;*/
  padding-left:5px;
  /*background-color: red;*/
  transition: opacity 1s, width 0.5s, height 0.5s;
}
.smallText {
  font-size: 12px;

}
.active{
  
  height:280px;
  overflow:scroll;
  width:400px;
  background-color:#ddd;
  opacity:.7;
  transition: width 0.5s;
}
.active .titlebarInfo {
  opacity: 1;
  height: auto;
  width:auto;
  visibility: visible;
  transition: opacity 1s, width .5s, height 0.5s;

}
.helperActive{

  /*background-color: red;*/
  border-radius: 5px;
  padding:0px;
  margin:0px;
  margin-top:-50px;
  margin-left:50px;
  width:auto;
  /*height:auto;*/

  /*background-color:red;*/
  /*overflow:scroll;*/

  transition: opacity 1s, width .5s, height 0.5s;
}
.helper{
  padding:0px;
  margin:0px;
  /*height:0px;*/
  /*visibility: hidden;*/
  width:0px;
}
.helperText{
  height:0px;
  width:0px;
  padding:10px;
  margin:5px;
  padding-bottom:50px;

  overflow:scroll;
  visibility: hidden;
  transition: width .5s;
  color:white;
  border-radius: 5px;
  background-color: #333;
}
.helperActive .helperText {
  height:220px;
  width:350px;
  visibility: visible;
  transition: width .5s;
}
.hintText{
  margin-bottom: 10px;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.dot-pulse {
  top: 20px;
  position: relative;
  left: -100px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  /*background-color: #9880ff;*/
  color: #9880ff;
  /*box-shadow: 100px 0 0 -5px #9880ff;*/
  -webkit-animation: dot-pulse 1.5s infinite linear;
  animation: dot-pulse 1.5s infinite linear;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {

  content: '';
  display: inline-block;
  position: absolute;
  /*top: 10px;*/
  width: 20px;
  height: 20px;
  border-radius: 10px;
  /*background-color: #9880ff;*/
  color: #9880ff;
}

.dot-pulse::before {
  box-shadow: 80px 0 0 -5px #9880ff;
  -webkit-animation: dot-pulse-before 1.5s infinite linear;
  animation: dot-pulse-before 1.5s infinite linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 120px 0 0 -5px #9880ff;
  -webkit-animation: dot-pulse-after 1.5s infinite linear;
  animation: dot-pulse-after 1.5s infinite linear;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    box-shadow: 80px 0 0 -6px #e53935;
  }
  30% {
    box-shadow: 80px 0 0 2px #e53935;
  }
  60%,
  100% {
    box-shadow: 80px 0 0 -6px #e53935;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 80px 0 0 -6px #e53935;
  }
  30% {
    box-shadow: 80px 0 0 2px #e53935;
  }
  60%,
  100% {
    box-shadow: 80px 0 0 -6px #e53935;
  }
}

@-webkit-keyframes dot-pulse {
  0% {
    box-shadow: 100px 0 0 -6px #5e35b1;
  }
  30% {
    box-shadow: 100px 0 0 2px #5e35b1;
  }
  60%,
  100% {
    box-shadow: 100px 0 0 -6px #5e35b1;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 100px 0 0 -6px #5e35b1;
  }
  30% {
    box-shadow: 100px 0 0 2px #5e35b1;
  }
  60%,
  100% {
    box-shadow: 100px 0 0 -6px #5e35b1;
  }
}

@-webkit-keyframes dot-pulse-after {
  0% {
    box-shadow: 120px 0 0 -6px #43a047;
  }
  30% {
    box-shadow: 120px 0 0 2px #43a047;
  }
  60%,
  100% {
    box-shadow: 120px 0 0 -6px #43a047;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 120px 0 0 -6px #43a047;
  }
  30% {
    box-shadow: 120px 0 0 2px #43a047;
  }
  60%,
  100% {
    box-shadow: 120px 0 0 -6px #43a047;
  }
}