.container {
  width: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  justify-content: space-around;
  align-items: space-around;
}
.spaceBetween {
  justify-content: space-between;
  align-items: space-between;
}
.flexStart{
	justify-content: flex-start;
	align-items: flex-start;
}
.padded {
  padding: 20px;
}

.location {
  min-width: 300px;
  height: 250px;
  border-radius:5px;
  padding:5px;
  background-color: #9e9e9e;
  border-left: 2px dotted red;
}

.dropdownBox{
  margin: 5px;
  border-radius: 5px; 
  background-color:#ddd;
}

.scrapPile {
  width:150px;
  height:100px; 
  margin-bottom:5px;
  border-radius:5px;
  background-color:gray;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.playcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 75px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
  transition: width 0.15s, height 0.15s;
}
.small{
	width:50px;
	height:50px;
	overflow: hidden;
	margin:0px;
	border: 1px solid black;
}
.playcard:hover {
  opacity: 0.7;
  color: yellow;
  background-color: green;
  width: 150px;
  height: 200px;
  transition: width 0.25s, height 0.25s;
}
.playcard:hover .title {
  font-size: 32px;
}

.marketcard {
  width: 80px;
  height: 80px;
  /*margin: 10px;*/
  font-size:10px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.marketcard:hover {
  opacity: 0.7;
  width: 150px;
  height: 200px;
  font-size: 20px;
  transition: font-size 0.25s, width 0.25s, height 0.25s ease-out;
}
.market-title{
	margin:5px;
	width:80%;
	font-size:1em;
}
.market-stat {
	margin:5px;
  opacity: 0;
  height: 0px;
  font-size: .7em;
  visibility: hidden;
  transition: opacity 0.25s;
}
.marketcard:hover .market-stat {
  opacity: 1;
  visibility: visible;
  height: 10px;
  transition: opacity 0.25s;
}

.title {
  margin: 5px;
  font-size: 14px;
  transition: font-size 0.25s;
}
.text {
  margin: 5px;
  font-size: 12px;
  transition: font-size 0.25s;
}
.playcard:hover .text {
  font-size: 24px;
}
.stat {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  transition: opacity 0.25s;
}
.playcard:hover .stat {
  visibility: visible;
  width: auto;
  opacity: 1;
}
