.container {
  width: 100%;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceAround {
  justify-content: space-around;
  align-items: space-around;
}
.flexStart{
	justify-content: flex-start;
	align-items: flex-start;
}
.padded {
  padding: 20px;
}

.location {
  min-width: 300px;
  height: 250px;
  background-color: #9e9e9e;
  border-left: 2px dotted red;
}

.playcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 75px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
  transition: width 0.15s, height 0.15s;
}
.small{
	width:50px;
	height:50px;
	overflow: hidden;
	margin:0px;
	border: 1px solid black;
}
.playcard:hover {
  opacity: 0.7;
  color: yellow;
  background-color: green;
  width: 150px;
  height: 200px;
  transition: width 0.25s, height 0.25s;
}
.playcard:hover .title {
  font-size: 32px;
}

.marketcard {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  width: 20px;
  height: 35px;
  margin: 10px;
  transition: width 0.15s, height 0.15s;
  /*background-color:red;*/
  /*max-width: 50px;*/
  /*height:50px;*/
}
.marketcard:hover {
  opacity: 0.7;
  width: 150px;
  height: 200px;
  transition: width 0.25s, height 0.25s;
}
.market-title{
	margin-top:20px;
	font-size:10px;
	line-height: 10px;
}
.marketcard:hover .market-title {
	margin-top:0px;
  font-size: 22px;
  line-height: 22px;
}
.market-stat {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s;
}
.marketcard:hover .market-stat {
  opacity: 1;
  visibility: visible;
  width: auto;
  transition: opacity 0.25s;
}

.title {
  margin: 5px;
  font-size: 14px;
  transition: font-size 0.25s;
}
.text {
  margin: 5px;
  font-size: 12px;
  transition: font-size 0.25s;
}
.playcard:hover .text {
  font-size: 24px;
}
.stat {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  transition: opacity 0.25s;
}
.playcard:hover .stat {
  visibility: visible;
  width: auto;
  opacity: 1;
}
